<%= form_with(model: [@article.comments.build], local: true) do |form| %>
  <p>
    <%= form.label :commneter %><br>
    <%= form.text_field :commneter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>  
  <%= form.hidden_field :article_id, :value=>@article.id %>
  <p>
    <%= form.submit %>
  </p>
<% end %>